snippet component
		@include component(${1}){
			${0}
		}

snippet option
		@include option(${1}){
			${0}
		}

snippet part
		@include part(${1}){
			${0}
		}

snippet tweak
		@include tweak(${1}){
			${0}
		}

snippet location
		@include location(${1}){
			${0}
		}
